# jigsaw things
*.log
*.jig
*.msh

# python things
__pycache__/
*.py[cod]

build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# data files, etc
data/*
!data/.keep
*.nc
*.vtk
*.vtp
*.dat
*.info
*.geojson
*.shp
